@using Secure_Password_Repository.Models
@using Secure_Password_Repository.Database
@using Secure_Password_Repository.Extensions
@model ApplicationUserManager
@{
    ViewBag.Title = "User Manager";
}

<h2>@ViewBag.Title.</h2>

@if (ViewBag.Message != string.Empty && ViewBag.Message != null)
{ 
<div class="validation-summary-information text-success">
    <ul>
        <li>@ViewBag.Message</li> 
    </ul>
</div>
}

<!--- token for authorising accounts  -->
<form id="_CRSFform" action="#" method="post">@Html.AntiForgeryToken()</form>
    
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Users)
        {
            <tr id="@user.Id">
                <td>@user.UserName</td>
                <td>@user.userFullName</td>
                <td>@user.Email</td>
                <td>@user.GetRoleName()</td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("Edit", new { UserId = user.Id })" class="btn btn-xs btn-primary">
                            <i class="glyphicon glyphicon-edit"></i>
                            Edit
                        </a>
                        @*
                        <a href="@Url.Action("ResetPassword", "UserManager", new { UserId = user.Id })" class="btn btn-xs btn-default">
                            <i class="glyphicon glyphicon-lock"></i>
                            Reset Password
                        </a>
                        *@
                        @if(user.isActive)
                        {
                            <a href="@Url.Action("DisableAccount", "UserManager", new { UserId = user.Id })" class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-lock"></i>
                                Disable Account
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("ActivateAccount", "UserManager", new { UserId = user.Id })" class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-lock"></i>
                                Activate Account
                            </a>
                        }
                        @if (!user.isAuthorised)
                        {
                            <a onclick="authoriseAccount(event,'@user.Id');" href="#" class="btn btn-xs btn-success btn-authorise">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                Authorise
                            </a>
                        }
                        @*
            <a href="@Url.Action("Delete", new { UserId = user.Id })" class="btn btn-xs btn-danger">
                <i class="glyphicon glyphicon-remove"></i>
                Delete
            </a>
                            *@
</div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/accountmanager_controller_scripts")
}
