@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Password List", "Index", "Password", routeValues: null, htmlAttributes: new { title = "Password List" })
        </li>
        <li>
            @Html.ActionLink("My Account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "My Account" })
        </li>
        @if (User.IsInRole("Administrator"))
        {
            <li>
                @Html.RouteLink("User Manager", "UserManager", null, htmlAttributes: new { title = "User List" })
            </li>
            <li>
                @Html.RouteLink("System Administration", "SystemAdministration", null, htmlAttributes: new { title = "System Admin" })
            </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
