@using Secure_Password_Repository.Utilities;
@using Secure_Password_Repository.Settings;
@using Secure_Password_Repository.ViewModels;
@model Secure_Password_Repository.ViewModels.CategoryItem

    <li class="treelistitem" id="@Model.CategoryId" data-type="Category">
        <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons ui-sortable-handle first">
            <span class="clickable">
                <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span>
                <i class="glyphicon glyphicon-folder-close rightfolderpadding"></i><span class="categoryname">@Model.CategoryName</span>
            </span>
            <span class="loaderplaceholder" style="display: none;"><img src="~/Images/ajax-loader.gif" /></span>
            <span class="btn-group">
                @if (ViewBag.CanEditCategories)
                { 
                    <a href="#" class="btn btn-xs btn-primary editcategorybutton" onclick="displayForm(event,'@Model.CategoryId');"><i class="glyphicon glyphicon-edit">&nbsp;</i>Edit</a>
                }
                @if(ViewBag.CanDeleteCategories)
                { 
                    <a href="#" class="btn btn-xs btn-danger deletecategorybutton" onclick="deleteCategory(event,'@Model.CategoryId');"><i class="glyphicon glyphicon-remove">&nbsp;</i>Delete</a>
                }
            </span>
        </div>
        
        @if (ViewBag.CanEditCategories)
        {
            @Html.Partial("_EditCategory", (CategoryEdit)Model)
        }
        
    </li>
