@using Microsoft.AspNet.Identity;
@using Secure_Password_Repository.Extensions;
@using Secure_Password_Repository.Settings;
@model Secure_Password_Repository.ViewModels.PasswordItem

<li class="treelistitem" id="Password-@Model.PasswordId" data-type="Password">
    <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons ui-sortable-handle first">
        <span>
            <span class="ui-accordion-header-icon ui-icon"></span>
            <i class="glyphicon glyphicon-star rightfolderpadding"></i><span class="categoryname">@Model.Description</span>
        </span>
        <span class="btn-group">
            <a class="btn btn-xs btn-default fancyboxbutton" onclick="return false;" href="@Url.Action("AddPassword", new { ParentCategoryId = @Model.Parent_CategoryId })?iframe"><i class="glyphicon glyphicon-eye-open">&nbsp;</i>View/Edit</a>
            @if (@Model.Parent_UserPasswords.Single(u => u.Id == int.Parse(User.Identity.GetUserId())).CanDeletePassword || @Model.Creator.UserName == User.Identity.Name)
            {
                <a href="#" class="btn btn-xs btn-danger deletepasswordbutton" onclick="deletePassword('@Model.PasswordId');return false;"><i class="glyphicon glyphicon-remove">&nbsp;</i>Delete</a>
            }
</span>
    </div>
</li>


