@using Microsoft.AspNet.Identity;
@using Secure_Password_Repository.Settings;
@model Secure_Password_Repository.Models.Category
<ul class="treeview ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion ui-widget ui-sortable ui-accordion-content-active">
    @if (Model.SubCategories.Count > 0)
    {
        foreach (var categoryitem in Model.SubCategories.OrderBy(c => c.CategoryOrder))
        {
            @Html.Partial("_CategoryModelItem", categoryitem);
        }
       
        <li id="addnew-@Model.CategoryId" class="treeignore">
            <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons first" role="tab" id="ui-id-8" aria-selected="false" aria-expanded="false" tabindex="-1">
                <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span><span class="btn-group">
                    <a class="btn btn-xs btn-primary" onclick="displayForm('addnew-@Model.CategoryId'); return false;" href="#">
                        <i class="glyphicon glyphicon-plus-sign">&nbsp;</i>Create New Category
                    </a>
                </span>
            </div>
            <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons ui-sortable-handle second" style="display: none;">
                <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span>
                <i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>
                @using (Ajax.BeginForm("AddCategory", "Password", new AjaxOptions { HttpMethod = "post", OnFailure = "failAlert()", OnSuccess = "createCategorySuccess(data,'" + @Model.CategoryId + "')" }, new { @class = "newcategoryform", role = "form", id = "addform-" + @Model.CategoryId }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Category_ParentID, new { Value=@Model.CategoryId })
                    @Html.TextBoxFor(m => m.CategoryName, new { Value = "" })
                    <span class="btn-group groupalign"><a href="#" onclick="submitAjaxForm('addform-@Model.CategoryId'); return false;" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-save">&nbsp;</i>Save</a></span>
                }
            </div>
        </li>

    }
    else if (Model.Passwords.Count > 0)
    {
        foreach (var passworditem in Model.Passwords.OrderBy(p => p.PasswordOrder))
        {
        }

        <li id="addnew-password-@Model.CategoryId" class="treeignore">
            <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons first" role="tab" id="ui-id-8" aria-selected="false" aria-expanded="false" tabindex="-1">
                <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span><span class="btn-group">
                    <a class="btn btn-xs btn-primary fancyboxbutton" onclick="return false;" href="@Url.Action("CreatePassword", new { ParentCategoryId = @Model.CategoryId })?iframe">
                        <i class="glyphicon glyphicon-plus-sign">&nbsp;</i>Create New Password
                    </a>
                </span>
            </div>
            <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons ui-sortable-handle second" style="display: none;">
                <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span>
                <i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>
                @using (Ajax.BeginForm("AddPassword", "Password", new AjaxOptions { HttpMethod = "post", OnFailure = "failAlert()", OnSuccess = "createPasswordSuccess(data,'" + @Model.CategoryId + "')" }, new { @class = "newcategoryform", role = "form", id = "addform-" + @Model.CategoryId }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Category_ParentID, new { Value = @Model.CategoryId })
                    @Html.TextBoxFor(m => m.CategoryName, new { Value = "" })
                    <span class="btn-group groupalign"><a href="#" onclick="submitAjaxForm('addform-@Model.CategoryId'); return false;" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-save">&nbsp;</i>Save</a></span>
                }
            </div>
        </li>

    }
    else
    {
        <li id="addnew-@Model.CategoryId" class="treeignore">
            <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons first" role="tab" id="ui-id-8" aria-selected="false" aria-expanded="false" tabindex="-1">
                <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span><span class="btn-group">
                    <a class="btn btn-xs btn-primary" onclick="displayForm('addnew-@Model.CategoryId'); return false;" href="#">
                        <i class="glyphicon glyphicon-plus-sign">&nbsp;</i>Create New Category
                    </a>
                </span>
            </div>
            <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons ui-sortable-handle second" style="display: none;">
                <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span>
                <i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>
                @using (Ajax.BeginForm("AddCategory", "Password", new AjaxOptions { HttpMethod = "post", OnFailure = "failAlert()", OnSuccess = "createCategorySuccess(data,'" + @Model.CategoryId + "')" }, new { @class = "newcategoryform", role = "form", id = "addform-" + @Model.CategoryId }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Category_ParentID, new { Value = @Model.CategoryId })
                    @Html.TextBoxFor(m => m.CategoryName, new { Value = "", PlaceHolder="Category Name" })
                    <span class="btn-group groupalign"><a href="#" onclick="submitAjaxForm('addform-@Model.CategoryId'); return false;" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-save">&nbsp;</i>Save</a></span>
                }
            </div>
        </li>
         
        <li id="addnew-password-@Model.CategoryId" class="treeignore">
            <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons first" role="tab" id="ui-id-8" aria-selected="false" aria-expanded="false" tabindex="-1">
                <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span><span class="btn-group">
                    <a class="btn btn-xs btn-primary fancyboxbutton" onclick="return false;" href="@Url.Action("CreatePassword", new { ParentCategoryId = @Model.CategoryId })?iframe">
                        <i class="glyphicon glyphicon-plus-sign">&nbsp;</i>Create New Password
                    </a>
                </span>
            </div>
            <div class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons ui-sortable-handle second" style="display: none;">
                <span class="ui-accordion-header-icon ui-icon treeviewicon treeviewplus"></span>
                <i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>
                @using (Ajax.BeginForm("AddPassword", "Password", new AjaxOptions { HttpMethod = "post", OnFailure = "failAlert()", OnSuccess = "createPasswordSuccess(data,'" + @Model.CategoryId + "')" }, new { @class = "newcategoryform", role = "form", id = "addform-" + @Model.CategoryId }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Category_ParentID, new { Value = @Model.CategoryId })
                    @Html.TextBoxFor(m => m.CategoryName, new { Value = "", PlaceHolder = "Category Name" })
                    <span class="btn-group groupalign"><a href="#" onclick="submitAjaxForm('addform-@Model.CategoryId'); return false;" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-save">&nbsp;</i>Save</a></span>
                }
            </div>
        </li>

    }

</ul>