
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <ul class="treeview">
        <li>
            <div><i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>Root</div>
            <ul class="treeview">
                <li>
                    <div><i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>Category 1<span class="btn-group"><a href="@Url.Action("Edit", "0")" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</a><a href="@Url.Action("Delete", "0")" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>Delete</a></span></div>
                </li>
                <li>
                    <div><i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>Category 2<span class="btn-group"><a href="@Url.Action("Edit", "0")" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</a><a href="@Url.Action("Delete", "0")" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>Delete</a></span></div>
                    <ul class="treeview">
                        <li>
                            <div><i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>Category 4<span class="btn-group"><a href="@Url.Action("Edit", "0")" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</a><a href="@Url.Action("Delete", "0")" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>Delete</a></span></div>
                        </li>
                        <li>
                            <div><i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>Category 5<span class="btn-group"><a href="@Url.Action("Edit", "0")" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</a><a href="@Url.Action("Delete", "0")" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>Delete</a></span></div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div><i class="glyphicon glyphicon-folder-open rightfolderpadding"></i>Category 3<span class="btn-group"><a href="@Url.Action("Edit", "0")" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</a><a href="@Url.Action("Delete", "0")" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>Delete</a></span></div>
                </li>
            </ul>
        </li>
    </ul>
</div>
