@model Secure_Password_Repository.ViewModels.ExportPasswordsViewModel
@{
    ViewBag.Title = "Export Passwords";
}

<h2>Export Passwords</h2>

@using (Html.BeginForm("ExportPasswords", "SystemAdministration", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    {

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPasswordExport, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.ConfirmPasswordExport, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPasswordExport, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal toppaddding">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <span class="btn-group">
                        <button type="submit" value="Export Passwords" class="btn btn-primary"><i class="glyphicon glyphicon-download-alt">&nbsp;<span class="text">Export Passwords</span></i></button>
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle">&nbsp;<span class="text">Back</span></i></a>
                    </span>
                </div>
            </div>
        </div>
    }
}
